[
  {
    "source": "https://nexusnewsfeed.com/article/geopolitics/west-pitting-india-against-china-lavrov/",
    "similarity": 0.988,
    "snippet": "Russia’s foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nFILE PHOTO: Russian Foreign Minister Sergey Lavrov. © Mert Gokhan Koc / dia images via Getty Images\n\nThe West is attempting to provoke tensions between India and China by pitting them against each other, Russian Foreign Minister Sergey Lavrov has said, according to TASS.\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific",
    "label": "unclassified"
  },
  {
    "source": "https://nexusnewsfeed.com/article/geopolitics/west-pitting-india-against-china-lavrov/",
    "similarity": 0.988,
    "snippet": "Russia’s foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nFILE PHOTO: Russian Foreign Minister Sergey Lavrov. © Mert Gokhan Koc / dia images via Getty Images\n\nThe West is attempting to provoke tensions between India and China by pitting them against each other, Russian Foreign Minister Sergey Lavrov has said, according to TASS.\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific",
    "label": "unclassified"
  }
]