[
  {
    "source": "https://news-pravda.com/world/2025/05/17/1339104.html",
    "similarity": 1.0,
    "snippet": "Discussions with NATO members on a potential withdrawal will begin after the bloc’s summit in June, Matthew Whitaker has said\n\nWashington plans to start discussing the details of a partial European troop pullout with other NATO members later this year, the US ambassador to the bloc, Matthew Whitaker, has said. America has sought to do so for over three decades and is running out of patience, he added.\n\nNBC News reported in April that the US is considering withdrawing up to 10,000 troops from Eas"
  },
  {
    "source": "https://news-pravda.com/world/2025/05/17/1339104.html",
    "similarity": 1.0,
    "snippet": "Discussions with NATO members on a potential withdrawal will begin after the bloc’s summit in June, Matthew Whitaker has said\n\nWashington plans to start discussing the details of a partial European troop pullout with other NATO members later this year, the US ambassador to the bloc, Matthew Whitaker, has said. America has sought to do so for over three decades and is running out of patience, he added.\n\nNBC News reported in April that the US is considering withdrawing up to 10,000 troops from Eas"
  },
  {
    "source": "https://trump.news-pravda.com/trump/2025/05/17/137023.html",
    "similarity": 1.0,
    "snippet": "Discussions with NATO members on a potential withdrawal will begin after the bloc’s summit in June, Matthew Whitaker has said\n\nWashington plans to start discussing the details of a partial European troop pullout with other NATO members later this year, the US ambassador to the bloc, Matthew Whitaker, has said. America has sought to do so for over three decades and is running out of patience, he added.\n\nNBC News reported in April that the US is considering withdrawing up to 10,000 troops from Eas"
  }
]