{
  "bd2f3a5d19b1e7bbb414af7b50facea9e9df8293ec833dfa18cac034e14a24ac": {
    "example_text_snippet": "\n\n\n\nRussian foreign minister Sergei Lavrov has claimed that the West is attempting to drive a wedge between India and China. Lavrov said the West is deliberately provoking tensions between the two Asi",
    "sources": [
      {
        "domain": "timesofindia.indiatimes.com",
        "url": "https://timesofindia.indiatimes.com/world/south-asia/divide-and-conquer-west-trying-to-pit-india-against-china-says-russian-foreign-minister-lavrov/articleshow/121210384.cms",
        "label": "biased",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "\n\n\n\nRussian foreign minister Sergei Lavrov has claimed that the West is attempting to drive a wedge between India and China. Lavrov said the West is deliberately provoking tensions between the two Asian neighbours, according to state-run TASS news agency.\"Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific region to give its policy a clear anti-China orientation - expecting thereby to additionally drive a wedge between our great f"
      }
    ]
  },
  "33dd752f7b45051aef6e24b075f8ca99322ef547a33183f3bf55b1b8bd0ed247": {
    "example_text_snippet": "The West is pitching India and China against each other, Russian Foreign Minister Sergei Lavrov said here on Thursday.\n\nLavrov made the remarks at a meeting of the \"Culture without Borders: the Role a",
    "sources": [
      {
        "domain": "ndtv.com",
        "url": "https://www.ndtv.com/world-news/russian-foreign-minister-sergei-lavrov-west-pitching-india-china-against-each-other-8422364",
        "label": "credible",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "The West is pitching India and China against each other, Russian Foreign Minister Sergei Lavrov said here on Thursday.\n\nLavrov made the remarks at a meeting of the \"Culture without Borders: the Role and Development of Cultural Diplomacy\" diplomatic club, according to the state-run TASS news agency.\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific region to give its policy a clear anti-China orientation — expecting thereby to "
      }
    ]
  },
  "9c0f5c951688f7e117bf5663b7d3e764b783583eb73fdcce7af0ec844e655311": {
    "example_text_snippet": "Moscow, May 16 (UNI) Russian Foreign Minister Sergey Lavrov has accused the West of attempting to provoke tensions between India and China by pitting the two nations against each other.\n\n\n\n“Take note ",
    "sources": [
      {
        "domain": "uniindia.com",
        "url": "http://www.uniindia.com/news/world/india-china-lavrov/3465681.html",
        "label": "unclassified",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "Moscow, May 16 (UNI) Russian Foreign Minister Sergey Lavrov has accused the West of attempting to provoke tensions between India and China by pitting the two nations against each other.\n\n\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific region to give its policy a clear anti-China orientation — expecting thereby to additionally make our great friends and neighbours India and China clash,” Lavrov was cited as saying at a meeti"
      },
      {
        "domain": "uniindia.com",
        "url": "http://www.uniindia.com/news/world/india-china-lavrov/3465681.html",
        "label": "unclassified",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "Moscow, May 16 (UNI) Russian Foreign Minister Sergey Lavrov has accused the West of attempting to provoke tensions between India and China by pitting the two nations against each other.\n\n\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific region to give its policy a clear anti-China orientation — expecting thereby to additionally make our great friends and neighbours India and China clash,” Lavrov was cited as saying at a meeti"
      }
    ]
  },
  "c94f026ec68b6711b6552dc86bbce7367993d94c6516dbb93c9a01d22cb19947": {
    "example_text_snippet": "Russias foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nThe West is attempting to provoke tensions between India and China by pitting them against e",
    "sources": [
      {
        "domain": "bignewsnetwork.com",
        "url": "https://www.bignewsnetwork.com/news/278224243/west-pitting-india-against-china-lavrov",
        "label": "unclassified",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "Russias foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nThe West is attempting to provoke tensions between India and China by pitting them against each other, Russian Foreign Minister Sergey Lavrov has said, according to TASS.\n\n\"Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific region to give its policy a clear anti-China orientation - expecting thereby to additionally make our"
      },
      {
        "domain": "bignewsnetwork.com",
        "url": "https://www.bignewsnetwork.com/news/278224243/west-pitting-india-against-china-lavrov",
        "label": "unclassified",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "Russias foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nThe West is attempting to provoke tensions between India and China by pitting them against each other, Russian Foreign Minister Sergey Lavrov has said, according to TASS.\n\n\"Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific region to give its policy a clear anti-China orientation - expecting thereby to additionally make our"
      }
    ]
  },
  "c2307770c04303cf2abbf25f7679da5e675b64764d29e8d9126ffd086f892deb": {
    "example_text_snippet": "West Pitching India, China Against Each Other: Russian Foreign Minister\n\n| By\n\nSOURCE: PTI\n\nThe West is pitching India and China against each other, Russian Foreign Minister Sergei Lavrov said here on",
    "sources": [
      {
        "domain": "idrw.org",
        "url": "https://idrw.org/west-pitching-india-china-against-each-other-russian-foreign-minister/",
        "label": "unclassified",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "West Pitching India, China Against Each Other: Russian Foreign Minister\n\n| By\n\nSOURCE: PTI\n\nThe West is pitching India and China against each other, Russian Foreign Minister Sergei Lavrov said here on Thursday.\n\nLavrov made the remarks at a meeting of the “Culture without Borders: the Role and Development of Cultural Diplomacy” diplomatic club, according to the state-run TASS news agency. “Take note of the current developments in the Asia-Pacific region, which the West has started calling the In"
      }
    ]
  },
  "94a61a034f0875a1ad717c59e8bfa0a7d012a60f026de2479dc97146a1dcd7b6": {
    "example_text_snippet": "West Pitching China-India Against Each Other: Russian Foreign Minister Sergei Lavrov\n\nInternational\n\noi-Prakash KL\n\nRussian Foreign Minister Sergei Lavrov has said that the West is pitching India and ",
    "sources": [
      {
        "domain": "oneindia.com",
        "url": "https://www.oneindia.com/international/west-pitching-china-india-against-each-other-russian-foreign-minister-sergei-lavrov-4155227.html",
        "label": "unclassified",
        "crawl_file": "matches_google_labeled.json",
        "snippet": "West Pitching China-India Against Each Other: Russian Foreign Minister Sergei Lavrov\n\nInternational\n\noi-Prakash KL\n\nRussian Foreign Minister Sergei Lavrov has said that the West is pitching India and China against each other.\n\nWhat Russian Foreign Minister Said?\n\nSpeaking at the \"Culture without Borders: the Role and Development of Cultural Diplomacy\" diplomatic club, he said, \"Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific r"
      }
    ]
  },
  "002e0f00f3b9b1ab2c61ec96fd2d2a4394875f395540c30b9a570aacac767ffb": {
    "example_text_snippet": "Russia’s foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nFILE PHOTO: Russian Foreign Minister Sergey Lavrov. © Mert Gokhan Koc / dia images via Gett",
    "sources": [
      {
        "domain": "nexusnewsfeed.com",
        "url": "https://nexusnewsfeed.com/article/geopolitics/west-pitting-india-against-china-lavrov/",
        "label": "unclassified",
        "crawl_file": "matches_duckduckgo_labeled.json",
        "snippet": "Russia’s foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nFILE PHOTO: Russian Foreign Minister Sergey Lavrov. © Mert Gokhan Koc / dia images via Getty Images\n\nThe West is attempting to provoke tensions between India and China by pitting them against each other, Russian Foreign Minister Sergey Lavrov has said, according to TASS.\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific"
      },
      {
        "domain": "nexusnewsfeed.com",
        "url": "https://nexusnewsfeed.com/article/geopolitics/west-pitting-india-against-china-lavrov/",
        "label": "unclassified",
        "crawl_file": "matches_duckduckgo_labeled.json",
        "snippet": "Russia’s foreign minister said attempts were being made to provoke a serious clash between the Asian giants\n\nFILE PHOTO: Russian Foreign Minister Sergey Lavrov. © Mert Gokhan Koc / dia images via Getty Images\n\nThe West is attempting to provoke tensions between India and China by pitting them against each other, Russian Foreign Minister Sergey Lavrov has said, according to TASS.\n\n“Take note of the current developments in the Asia-Pacific region, which the West has started calling the Indo-Pacific"
      }
    ]
  }
}